<% if signed_in? %>
    <% if current_user.received_messages.unread %>
        <div>You have <%= current_user.received_messages.unread.count %> new messages:</div>
        <% current_user.received_messages.unread.each do |message| %>
            <div><%= link_to "New message from #{message.sender.name} #{time_ago_in_words message.created_at} ago", message_path(message) %></div>
        <% end %>
    <% else %>
        <div>
          No new messages!
        </div>
    <% end %>
<% else %>

    <section class="header-11-sub">
      <div class="background">&nbsp;</div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>This site for Ruby Experts</h3>
            <p>Chat KenK11 is the first message website just for experienced Ruby on Rails engineers.</p>
            <%= render 'users/form' %>
            <div class="additional-links">By signing up you agree to <a href="#">Terms of Use</a> and
              <a href="#">Privacy</a></div>
          </div>
          <div class="col-sm-7 col-sm-offset-1 player-wrapper">
            <div class="player">
              <%= image_tag 'background.jpg' %>
            </div>
          </div>
        </div>
      </div>
    </section>
<% end %>